

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  outline: none !important;
}

:root {

  --background-color:#737373;
  --primary-text-color:#e2e8f0;
  --card-bg-color:#6b7280;

}






.App{
  /* background-color: var(--background-color); */
  overflow-x: hidden;
  background-image: url("C:\frontend workspace\project\reeels\public\assests\bg2.jpg");
  /* background: rgba(76, 175, 80, 0.3); */
  background-size:  100vw 100vh;
  background-repeat:repeat-y;
}

